[submodule "workbooks/wbk--dsa--javascript-typescript"]
	path = workbooks/wbk--dsa--javascript-typescript
	url = https://github.com/paulAlexSerban/wbk--dsa--javascript-typescript.git
[submodule "workbooks/wbk--dsa--python"]
	path = workbooks/wbk--dsa--python
	url = https://github.com/paulAlexSerban/wbk--dsa--python.git
[submodule "workbooks/wbk--dsa--elixir"]
	path = workbooks/wbk--dsa--elixir
	url = https://github.com/paulAlexSerban/wbk--dsa--elixir.git
[submodule "workbooks/wbk--dsa--php"]
	path = workbooks/wbk--dsa--php
	url = https://github.com/paulAlexSerban/wbk--dsa--php.git
